.alaus-deze {
    background-size: cover;
    background-image: url("https://lh3.googleusercontent.com/proxy/I8gewkoQeQZ3QDvYx02sbTjvIeq-uMD4kB3P8fdk5iXp-OBPtD0-t-Ajx4PgZAGOxHjdYIeh8pqBf0413symp5gSC4HNmljELiWBdXY4AP5nziTdviExBgh7HXKNSvM");
    height: 150px;
    width: 150px;
}
.alaus-butelys {
    background-size: cover;
    background-image: url("https://www.savasalus.lt/cache/images_product_S_1_300x300/Stiklinis_alaus__4e1d7a680eeac.jpg");
    height: 150px;
    width: 150px;
}